<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bling.dao.ItemMapper" >
  <resultMap id="BaseResultMap" type="com.bling.pojo.Item" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="item_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="product_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="category_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="subtitle" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="detail" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="size" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="color" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="length" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="width" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="higth" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="weight" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="price" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="stock" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="scaling" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="x" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="y" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="main_image" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="sub_images" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="dresser_images" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, item_id, product_id, category_id, name, subtitle, detail, create_time, update_time, 
    size, color, length, width, higth, weight, price, stock, scaling, x, y, main_image, 
    sub_images, dresser_images
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from item
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from item
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bling.pojo.Item" >
    insert into item (id, item_id, product_id, 
      category_id, name, subtitle, 
      detail, create_time, update_time, 
      size, color, length, 
      width, higth, weight, 
      price, stock, scaling, 
      x, y, main_image, sub_images, 
      dresser_images)
    values (#{id,jdbcType=INTEGER}, #{itemId,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER}, 
      #{categoryId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{subtitle,jdbcType=VARCHAR}, 
      #{detail,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{size,jdbcType=VARCHAR}, #{color,jdbcType=VARCHAR}, #{length,jdbcType=VARCHAR}, 
      #{width,jdbcType=VARCHAR}, #{higth,jdbcType=VARCHAR}, #{weight,jdbcType=VARCHAR}, 
      #{price,jdbcType=INTEGER}, #{stock,jdbcType=INTEGER}, #{scaling,jdbcType=INTEGER}, 
      #{x,jdbcType=INTEGER}, #{y,jdbcType=INTEGER}, #{mainImage,jdbcType=VARCHAR}, #{subImages,jdbcType=VARCHAR}, 
      #{dresserImages,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bling.pojo.Item" >
    insert into item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="itemId != null" >
        item_id,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="categoryId != null" >
        category_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="subtitle != null" >
        subtitle,
      </if>
      <if test="detail != null" >
        detail,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="size != null" >
        size,
      </if>
      <if test="color != null" >
        color,
      </if>
      <if test="length != null" >
        length,
      </if>
      <if test="width != null" >
        width,
      </if>
      <if test="higth != null" >
        higth,
      </if>
      <if test="weight != null" >
        weight,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="stock != null" >
        stock,
      </if>
      <if test="scaling != null" >
        scaling,
      </if>
      <if test="x != null" >
        x,
      </if>
      <if test="y != null" >
        y,
      </if>
      <if test="mainImage != null" >
        main_image,
      </if>
      <if test="subImages != null" >
        sub_images,
      </if>
      <if test="dresserImages != null" >
        dresser_images,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="itemId != null" >
        #{itemId,jdbcType=INTEGER},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null" >
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="subtitle != null" >
        #{subtitle,jdbcType=VARCHAR},
      </if>
      <if test="detail != null" >
        #{detail,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="size != null" >
        #{size,jdbcType=VARCHAR},
      </if>
      <if test="color != null" >
        #{color,jdbcType=VARCHAR},
      </if>
      <if test="length != null" >
        #{length,jdbcType=VARCHAR},
      </if>
      <if test="width != null" >
        #{width,jdbcType=VARCHAR},
      </if>
      <if test="higth != null" >
        #{higth,jdbcType=VARCHAR},
      </if>
      <if test="weight != null" >
        #{weight,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=INTEGER},
      </if>
      <if test="stock != null" >
        #{stock,jdbcType=INTEGER},
      </if>
      <if test="scaling != null" >
        #{scaling,jdbcType=INTEGER},
      </if>
      <if test="x != null" >
        #{x,jdbcType=INTEGER},
      </if>
      <if test="y != null" >
        #{y,jdbcType=INTEGER},
      </if>
      <if test="mainImage != null" >
        #{mainImage,jdbcType=VARCHAR},
      </if>
      <if test="subImages != null" >
        #{subImages,jdbcType=VARCHAR},
      </if>
      <if test="dresserImages != null" >
        #{dresserImages,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bling.pojo.Item" >
    update item
    <set >
      <if test="itemId != null" >
        item_id = #{itemId,jdbcType=INTEGER},
      </if>
      <if test="productId != null" >
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null" >
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="subtitle != null" >
        subtitle = #{subtitle,jdbcType=VARCHAR},
      </if>
      <if test="detail != null" >
        detail = #{detail,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="size != null" >
        size = #{size,jdbcType=VARCHAR},
      </if>
      <if test="color != null" >
        color = #{color,jdbcType=VARCHAR},
      </if>
      <if test="length != null" >
        length = #{length,jdbcType=VARCHAR},
      </if>
      <if test="width != null" >
        width = #{width,jdbcType=VARCHAR},
      </if>
      <if test="higth != null" >
        higth = #{higth,jdbcType=VARCHAR},
      </if>
      <if test="weight != null" >
        weight = #{weight,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=INTEGER},
      </if>
      <if test="stock != null" >
        stock = #{stock,jdbcType=INTEGER},
      </if>
      <if test="scaling != null" >
        scaling = #{scaling,jdbcType=INTEGER},
      </if>
      <if test="x != null" >
        x = #{x,jdbcType=INTEGER},
      </if>
      <if test="y != null" >
        y = #{y,jdbcType=INTEGER},
      </if>
      <if test="mainImage != null" >
        main_image = #{mainImage,jdbcType=VARCHAR},
      </if>
      <if test="subImages != null" >
        sub_images = #{subImages,jdbcType=VARCHAR},
      </if>
      <if test="dresserImages != null" >
        dresser_images = #{dresserImages,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bling.pojo.Item" >
    update item
    set item_id = #{itemId,jdbcType=INTEGER},
      product_id = #{productId,jdbcType=INTEGER},
      category_id = #{categoryId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      subtitle = #{subtitle,jdbcType=VARCHAR},
      detail = #{detail,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      size = #{size,jdbcType=VARCHAR},
      color = #{color,jdbcType=VARCHAR},
      length = #{length,jdbcType=VARCHAR},
      width = #{width,jdbcType=VARCHAR},
      higth = #{higth,jdbcType=VARCHAR},
      weight = #{weight,jdbcType=VARCHAR},
      price = #{price,jdbcType=INTEGER},
      stock = #{stock,jdbcType=INTEGER},
      scaling = #{scaling,jdbcType=INTEGER},
      x = #{x,jdbcType=INTEGER},
      y = #{y,jdbcType=INTEGER},
      main_image = #{mainImage,jdbcType=VARCHAR},
      sub_images = #{subImages,jdbcType=VARCHAR},
      dresser_images = #{dresserImages,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>